<div class="row justify-content-between mt-4">
    <div class="col">
        <h2>Data Meja</h2>
    </div>
    <div class="col-3">
        <a href="/admin" style="text-decoration: none;">
            <h2 class="text-secondary">Home</h2>
        </a>
    </div>
</div>
<hr>
<div class="row justify-content-center mt-4">
    <div class="col">
        <a href="/admin/meja/tambah" class="btn btn-secondary">Tambah Meja</a>
    </div>
</div>
<div class="row justify-content-center mt-4" style="overflow: auto;height: 450px;">
  <table class="table">
    <thead class="table-secondary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">No Meja</th>
        <th scope="col">Kapasitas</th>
        <th scope="col">Tersedia</th>
        <th scope="col">More</th>
      </tr>
    </thead>
    <tbody>
          <% data.forEach((meja,i) => { %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td><%= meja.no_meja %></td>
              <td><%= meja.kapasitas %></td>
                <% if (meja.tersedia) { %>
                  <td>Tersedia</td>
                <% } else { %>
                  <td>
                    <form method="GET" action="/admin/meja/tersedia/<%= meja.mejaId %>">
                      <button type="submit" class="btn btn-secondary">Tersedia?</button>
                    </form>
                  </td>
                <% } %>
              <td>
                <form method="POST" action="/admin/meja?_method=DELETE">
                  <input type="hidden" id="mejaId" name="mejaId" value="<%= meja.mejaId %>">
                  <button type="submit" class="btn btn-secondary" onclick="return confirm('Are You Sure?')">Hapus</button>
                </form>
              </td>
            </tr>
          <% }) %>
          </tbody>
      </table>
</div>